body {
    background: #fbf9f9;
}

.header {
    width: 100%;
    background: #fff;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    display: -webkit-flex;
}

.item {
    flex: 1;
}

.item:nth-child(1) {
    text-align: left;
    padding-left: 0.2rem;
}

.item:nth-child(1) i {
    font-size: 0.6rem;
}

.item:nth-child(2) {
    text-align: center;
    font-size: 0.5rem;
    font-weight: bold;
}

html, body {
    height: 100%;
}

.nav {
    position: fixed;
    top: 1rem;
    width: 0;
    height: 100%;
    background: black;
    opacity: 0.8;
    overflow: hidden;
}

.nav ul {
    padding: 0.4rem;
}

.nav ul li {
    padding: 0.3rem 0;
    color: #fff;
    text-align: center;
    border-bottom: 0.01rem solid #fff;
    font-size: 0.4rem;
}

.nav ul li:nth-child(1) {
    padding: 0;
    text-align: right;
    border: none;
}

.content {
    display: none;
    padding-top: 1rem;
}

.content h1 {
    padding-left: 0.2rem;
    line-height: 0.7rem;
}

.content h3 {
    padding-left: 0.2rem;
    line-height: 0.6rem;
    font-weight: normal;
}

.content p {
    padding: 0.4rem;
    border: 1px solid #ccc;
    line-height: 0.6rem;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    background: #fff;
}

.xmpStyle {
    overflow: auto;
    background: #fff;
    padding: 0.4rem;
}